## Orders Dataset Understanding and Cleaning

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [207]:
# Reading Data
df=pd.read_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\\Retail_dataset.xlsx", sheet_name='orders')

In [208]:
# Validating read data
df.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26

In [209]:
#check shape of the data
df.shape

(99441, 7)

In [210]:
# Check feature details of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_timestamp      96476 non-null  datetime64[ns]
 6   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](4), object(3)
memory usage: 5.3+ MB

In [211]:
# check duplicate data
df.duplicated().sum()

0

In [212]:
#The records are filtered to include only orders with order status as ‘delivered’.
df=df[df['order_status']=='delivered']

In [213]:
#validation of order_status
df['order_status'].value_counts()

delivered    96478
Name: order_status, dtype: int64

In [214]:
# Check missing values in data
df.isnull().sum()

order_id                          0
customer_id                       0
order_status                      0
order_purchase_timestamp          0
order_approved_at                14
order_delivered_timestamp         8
order_estimated_delivery_date     0
dtype: int64

#### Imputing missing values

In [227]:
# time difference between purchased and approved
df['Difference'] = df['order_approved_at'].sub(df['order_purchase_timestamp'], axis=0)

In [228]:
# time difference between purchased and delivered
df['Difference2']=df['order_delivered_timestamp'].sub(df['order_purchase_timestamp'], axis=0)

In [229]:
# Mean of difference
df['Difference'].mean()

Timedelta('0 days 10:16:36.361243572')

In [230]:
# Mean of difference2
df['Difference2'].mean()

Timedelta('12 days 13:23:49.957271690')

In [231]:
# adding difference mean to purchanse timestamp and imputing null values
df['order_approved_at'].fillna(df['order_purchase_timestamp']+df['Difference'].mean(),inplace=True)

In [233]:
# adding difference2 mean to purchanse timestamp and imputing null values
df['order_delivered_timestamp'].fillna(df['order_purchase_timestamp']+df['Difference2'].mean(),inplace=True)

In [237]:
df.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_timestamp,order_estimated_delivery_date,Difference,Difference2
0,e481f51cbdc54678b7cc49136f2d6af7,7c396fd4830fd04220f754e42b4e5bff,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-10 21:25:13,2017-10-18,0 days 00:10:42,8 days 10:28:40
1,53cdb2fc8bc7dce0b6741e2150273451,af07308b275d755c9edb36a90c618231,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-08-07 15:27:45,2018-08-13,1 days 06:42:50,13 days 18:46:08
2,47770eb9100c2d0c44946d9cf07ec65d,3a653a41f6f9fc3d2a113cf8398680e8,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-17 18:06:29,2018-09-04,0 days 00:16:34,9 days 09:27:40
3,949d5b44dbf5de918fe9c16f97b45f8a,7c142cf63193a1473d2e66489a9ae977,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-12-02 00:28:42,2017-12-15,0 days 00:17:53,13 days 05:00:36
4,ad21c59c0840e6cb83a9ceb5573f8159,72632f0f9dd73dfee390c9b22eb56dd6,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-16 18:17:02,2018-02-26,0 days 01:01:50,2 days 20:58:23

In [234]:
# validating null values
df.isnull().sum()

order_id                          0
customer_id                       0
order_status                      0
order_purchase_timestamp          0
order_approved_at                 0
order_delivered_timestamp         0
order_estimated_delivery_date     0
Difference                       14
Difference2                       8
dtype: int64

In [240]:
# check final shape of column
df.shape

(96478, 9)

In [242]:
#dropping difference and difference2 column
df.drop('Difference',axis=1,inplace=True)
df.drop('Difference2',axis=1, inplace=True)

In [243]:
df.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_timestamp        0
order_estimated_delivery_date    0
dtype: int64

#### 1>No duplicates values were found.
#### 2>Orders with order_status as delivered were filtered.
#### 3>Missing values were imputed.
#### 4>Outlier treatment not done as may lead to data loss.

In [244]:
# Extracting file to orders_cleaned
df.to_excel(r'C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\orders_cleaned.xlsx')

## Order_Items Dataset Understanding and Cleaning

In [4]:
# Reading data file
df1=pd.read_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\\Retail_dataset.xlsx", sheet_name='order_items')

In [6]:
df1.head(5)

,order_id,order_item_id,product_id,seller_id,price,shipping_charges
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,199.90,18.14

In [7]:
# Checking Duplicate values
df1.duplicated().sum()

0

In [8]:
# Checking null values
df1.isnull().sum()

order_id            0
order_item_id       0
product_id          0
seller_id           0
price               0
shipping_charges    0
dtype: int64

#### 1>No missing values were found
#### 2>No duplicate values were found
#### 3>Outlier treatment not done as may lead to data loss

In [10]:
# Extracting data file
df1.to_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\order_items_cleaned.xlsx")

## Customers Dataset Understanding and cleaning

In [90]:
# Reading data file
df2=pd.read_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\\Retail_dataset.xlsx", sheet_name='customers')

In [91]:
df2.head(5)

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [92]:
# Checking null value
df2.isnull().sum()

customer_id                 0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [93]:
# checking duplicate value
df2['customer_id'].duplicated().sum()

3345

In [94]:
# droping duplicate values
df2.drop_duplicates('customer_id',inplace=True)

In [95]:
# validating 
df2['customer_id'].duplicated().sum()

0

In [88]:
# validating duplicate value
df2.head()

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

#### 1>No missing values were found
#### 2>Duplicates were found in customer_id so we dropped the duplicate values
#### 3>Outlier treatment not done as may lead to data loss

In [96]:
# Extracting data file
df2.to_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\customers_cleaned.xlsx")

## Payments Dataset Understanding and cleaning

In [28]:
# Reading data file
df3=pd.read_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\\Retail_dataset.xlsx", sheet_name='payments')

In [29]:
df3.head(5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [98]:
# Checking duplicate values
df3['order_id'].duplicated().sum()

4446

In [99]:
# Droping duplicate values
df3.drop_duplicates('order_id',inplace=True)

In [100]:
#validating
df3['order_id'].duplicated().sum()

0

In [101]:
# Checking null values
df3.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

#### 1>No null values were found
#### 2>Found duplicate vaues for order_id and dropped duplicate values
#### 3>Outlier treatment not done as may lead to data loss

In [102]:
# Extracting data file
df3.to_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\payments_cleaned.xlsx")

## Products Dataset Understanding and cleaning

In [47]:
# Reading data file
df4=pd.read_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\\Retail_dataset.xlsx", sheet_name='products')

In [48]:
df4.head(5)

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,625.0,20.0,17.0,13.0

In [49]:
# Checking duplicate values
df4.duplicated().sum()

0

In [50]:
# Checking null values
df4.isnull().sum()

product_id                 0
product_category_name    170
product_weight_g           2
product_length_cm          2
product_height_cm          2
product_width_cm           2
dtype: int64

In [52]:
# Checking product_category_name mode
df4.product_category_name.mode()

0    toys
dtype: object

In [53]:
# Imputing product_category_name null values with it's mode
df4.product_category_name.replace(np.nan,'toys',inplace=True)

In [54]:
# validating
df4.isnull().sum()

product_id               0
product_category_name    0
product_weight_g         2
product_length_cm        2
product_height_cm        2
product_width_cm         2
dtype: int64

In [55]:
# checking median of product_weight_g
df4.product_weight_g.median()

700.0

In [56]:
# Imputing product_weight_g null values with it's median
df4.product_weight_g.fillna(df4.product_weight_g.median(),inplace=True)

In [57]:
# Checking mean of column product_length_cm
df4.product_length_cm.mean()

30.81507784758263

In [58]:
# Imputing product_length_cm null values with it's mean
df4.product_length_cm.fillna(df4.product_length_cm.mean(),inplace=True)

In [59]:
# Checking mean of column product_height_cm
df4.product_height_cm.mean()

16.937661234028347

In [60]:
# Imputing product_height_cm null values with it's mean
df4.product_height_cm.fillna(df4.product_height_cm.mean(),inplace=True)

In [61]:
# Checking mean of column product_width_cm
df4.product_width_cm.mean()

23.196728277034204

In [62]:
# Imputing product_width_cm null values with it's mean
df4.product_width_cm.fillna(df4.product_width_cm.mean(),inplace=True)

In [63]:
# validating
df4.isnull().sum()

product_id               0
product_category_name    0
product_weight_g         0
product_length_cm        0
product_height_cm        0
product_width_cm         0
dtype: int64

#### 1>No duplicate value were found
#### 2>Missing value for product_category_name imputed with it's mode
#### 3>Missing value for product_weight_g imputed with it's medain
#### 4>Missing value for product_length_cm, product_height_cm and product_width_cm imputed with it's mean

In [64]:
# Extracting data file
df4.to_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\products_cleaned.xlsx")

## Market Basket Analysis using Association Rules and Apriori Algorithm

In [2]:
# Reading products_cleaned dataset
df5=pd.read_excel(r'C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\Cleaned dataset\products_cleaned.xlsx')

In [3]:
# Reading order_items_cleaned dataset
df6=pd.read_excel(r'C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\Cleaned dataset\order_items_cleaned.xlsx')

In [4]:
df5.head(2)

,Unnamed: 0,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225,16.0,10.0,14.0
1,1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000,30.0,18.0,20.0

In [5]:
df6.head(2)

,Unnamed: 0,order_id,order_item_id,product_id,seller_id,price,shipping_charges
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,239.9,19.93

In [6]:
# Merging df5 and df6 dataset for market basket analysis
df7=pd.merge(df5,df6,on='product_id',how='inner')

In [7]:
df7.head(5)

,Unnamed: 0_x,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Unnamed: 0_y,order_id,order_item_id,seller_id,price,shipping_charges
0,0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225,16.0,10.0,14.0,99413,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,10.91,7.39
1,1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000,30.0,18.0,20.0,36254,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,248.00,17.99
2,2,96bd76ec8810374ed1b65e291975717f,sports_leisure,154,18.0,9.0,15.0,852,01f66e58769f84129811d43eefd187fb,1,7b07b3c7487f0ea825fc6df75abd658b,79.80,7.82
3,3,cef67bcfe19066a932b7673e239eb23d,baby,371,26.0,4.0,26.0,8850,143d00a4f2dde4e0364ee1821577adb3,1,c510bc1718f0f2961eaa42a23330681a,112.30,9.54
4,4,9dc1a7de274444849c219cff195d0b71,housewares,625,20.0,17.0,13.0,59150,86cafb8794cb99a9b1b77fc8e48fbbbb,1,0be8ff43f22e456b4e0371b2245e4d01,37.90,8.29

In [8]:
# Removing Unammeed [0] index column as this will not be used in our analysis.
df7=df7.drop(df7.columns[0], axis = 1)

In [9]:
df7.head(2)

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,Unnamed: 0_y,order_id,order_item_id,seller_id,price,shipping_charges
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225,16.0,10.0,14.0,99413,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,10.91,7.39
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000,30.0,18.0,20.0,36254,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,248.00,17.99

In [10]:
# Removing Unammeed [6] index column as this will not be used in our analysis.
df7=df7.drop(df7.columns[6], axis = 1)

In [11]:
df7.head(2)

,product_id,product_category_name,product_weight_g,product_length_cm,product_height_cm,product_width_cm,order_id,order_item_id,seller_id,price,shipping_charges
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,225,16.0,10.0,14.0,e17e4f88e31525f7deef66779844ddce,1,5670f4db5b62c43d542e1b2d56b0cf7c,10.91,7.39
1,3aa071139cb16b67ca9e5dea641aaa2f,art,1000,30.0,18.0,20.0,5236307716393b7114b53ee991f36956,1,b561927807645834b59ef0d16ba55a24,248.00,17.99

In [36]:
# Extract market_basket dataset
df7.to_excel(r"C:\Users\RAJAT KUMAR\OneDrive\Desktop\DATA SCIENCE\BI_DA_Track\Capstone project\market_basket_data.xlsx")

In [12]:
#Load apriori and association modules from mlxtend.frequent_patterns 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [13]:
#Updating df7 dataframe with only the required columns for analysis
df7 = df7[['order_id','product_category_name', 'order_item_id']]

In [15]:
#Creating basket dataframe using pandas pivot, this is required for basket analysis
basket = pd.pivot_table(data=df7,index='order_id',columns='product_category_name',values='order_item_id',fill_value=0)

In [16]:
basket.head()

product_category_name,agro_industry_and_commerce,air_conditioning,art,arts_and_craftmanship,audio,auto,baby,bed_bath_table,books_general_interest,books_imported,...,security_and_services,signaling_and_security,small_appliances,small_appliances_home_oven_and_coffee,sports_leisure,stationery,tablets_printing_image,telephony,toys,watches_gifts
order_id,,,,,,,,,,,,,,,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0
00018f77f2f0320c557190d7a144bdd3,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0
000229ec398224ef6ca0657da4fc703e,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0
00024acbcdf0a6daa1e931b038114c75,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0
00042b26cf59d7ce69dfabb4e55b4fd9,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
#For basket analysis encoding the data to 1s and 0s 
def encdata(x):
    if x<=0:
        return 0
    if x>=1:
        return 1
basket_encode = basket.applymap(encdata)

In [18]:
basket_encode.shape

(98666, 70)

In [19]:
#As reuired by the assignment, dropping the Product_cataegories (columns) whose sum value (total_sale) is less than equal to 5
for column in basket_encode.columns:
    if (basket_encode[column].sum(axis=0, skipna=True)<=5):
        basket_encode.drop(column, inplace=True, axis=1)

In [20]:
basket_encode.shape

(98666, 61)

In [21]:
#Selecting only those order_ids where at least two items were purchased to find product combinations.
#This is reuired else the 'Toys' product_category will affect the whole analysis. 
#Because the Support value for 'Toys' is biased due to its too much presence as single item orders 
basket_encode = basket_encode[(basket_encode>0).sum(axis=1)>=2]

In [22]:
basket_encode.head()

product_category_name,agro_industry_and_commerce,air_conditioning,art,audio,auto,baby,bed_bath_table,books_general_interest,books_imported,books_technical,...,pet_shop,signaling_and_security,small_appliances,small_appliances_home_oven_and_coffee,sports_leisure,stationery,tablets_printing_image,telephony,toys,watches_gifts
order_id,,,,,,,,,,,,,,,,,,,,,
00337fe25a3780b3424d9ad7c5a4b35e,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
00946f674d880be1f188abc10ad7cf46,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
00bcee890eba57a9767c7b5ca12d3a1b,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
01144cadcf64b6427f0a6580a3033220,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
013a98b3a668bcef05b98898177f6923,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

#### Generating frequent itemsets from a list of items
First step in generation of association rules is to get all the frequent itemsets.Frequent itemsets are the ones which occur at least a minimum number of times in the transactions.

Call apriori function and passing minimum support here we are passing 3%, which means at least 3% in total number of transaction the item should be present.

In [23]:
#Support - This measure gives an idea of how frequent `ItemSet` is in all the transactions.
frequent_items = apriori(basket_encode, min_support=0.03, use_colnames=True)

C:\Users\RAJAT KUMAR\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [25]:
frequent_items

     support                          itemsets
0   0.031538                            (auto)
1   0.230000                  (bed_bath_table)
2   0.083846           (computers_accessories)
3   0.033077        (fashion_bags_accessories)
4   0.127692                 (furniture_decor)
5   0.041538                    (garden_tools)
6   0.067692                   (health_beauty)
7   0.053077                      (housewares)
8   0.054615                  (sports_leisure)
9   0.971538                            (toys)
10  0.057692                   (watches_gifts)
11  0.030769                      (toys, auto)
12  0.226154            (toys, bed_bath_table)
13  0.080000     (toys, computers_accessories)
14  0.032308  (toys, fashion_bags_accessories)
15  0.120000           (furniture_decor, toys)
16  0.034615              (toys, garden_tools)
17  0.064615             (toys, health_beauty)
18  0.048462                (housewares, toys)
19  0.047692            (toys, sports_leisure)
20  0.056154             (watches_gifts, toys)

#### Generating all possible rules from the frequent itemsets.
After the frequent itemsets are generated, identifying rules such as Confidence and Lift

In [28]:
#We would apply association rules on frequent itemset to find product combinations. 
#Confidence - This measure defines the likeliness of occurrence of consequent on the cart given that the cart already has the antecedents.
rules_cf = association_rules(frequent_items, metric="confidence", min_threshold=0.1)

In [30]:
rules_cf

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(auto),(toys),0.031538,0.971538,0.030769,0.975610,1.004191,0.000128,1.166923
1,(toys),(bed_bath_table),0.971538,0.230000,0.226154,0.232779,1.012083,0.002700,1.003622
2,(bed_bath_table),(toys),0.230000,0.971538,0.226154,0.983278,1.012083,0.002700,1.702000
3,(computers_accessories),(toys),0.083846,0.971538,0.080000,0.954128,0.982080,-0.001460,0.620462
4,(fashion_bags_accessories),(toys),0.033077,0.971538,0.032308,0.976744,1.005358,0.000172,1.223846
5,(furniture_decor),(toys),0.127692,0.971538,0.120000,0.939759,0.967290,-0.004058,0.472462
6,(toys),(furniture_decor),0.971538,0.127692,0.120000,0.123515,0.967290,-0.004058,0.995235
7,(garden_tools),(toys),0.041538,0.971538,0.034615,0.833333,0.857746,-0.005741,0.170769
8,(health_beauty),(toys),0.067692,0.971538,0.064615,0.954545,0.982509,-0.001150,0.626154
9,(housewares),(toys),0.053077,0.971538,0.048462,0.913043,0.939791,-0.003105,0.327308
10,(sports_leisure),(toys),0.054615,0.971538,0.047692,0.873239,0.898821,-0.005369,0.224530
11,(watches_gifts),(toys),0.057692,0.971538,0.056154,0.973333,1.001847,0.000104,1.067308

In [31]:
#Lift - This measure defines the likeliness of occurrence of consequent on the cart given that the cart already has the antecedent, but controlling the popularity of consequent.
#Here we are setting based on lift and keeping minimum lift as >1.
rules_lf=rules_cf[(rules_cf['lift'] > 1)]

In [32]:
rules_lf

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(auto),(toys),0.031538,0.971538,0.030769,0.975610,1.004191,0.000128,1.166923
1,(toys),(bed_bath_table),0.971538,0.230000,0.226154,0.232779,1.012083,0.002700,1.003622
2,(bed_bath_table),(toys),0.230000,0.971538,0.226154,0.983278,1.012083,0.002700,1.702000
4,(fashion_bags_accessories),(toys),0.033077,0.971538,0.032308,0.976744,1.005358,0.000172,1.223846
11,(watches_gifts),(toys),0.057692,0.971538,0.056154,0.973333,1.001847,0.000104,1.067308

Top five products categories in groups of twos are:
1. Toys and Bed Bath Table
2. Toys and Fashion Bags Accesories
3. Toys and Computer Accesories
4. Toys and Furniture Decor
5. Toys and Health & Beauty